@import '../../../styles/base.scss';

.Image {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

.Cast__images {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
}

.Cast__name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.Cast__character {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
